NAME,DESCRIPTION,TIME SCHEDULE,SPECIFIC TIME ZONE,ORIGINATING DEVICE
R70-WW{{jww}}-{{jcity}}CA-CP-PT,R70-WW{{jww}}-{{jcity}}CA-CP-PT,NULL,Etc/GMT,t
R70-WW{{jww}}-{{jcity}}CA-Xlat-PT,R70-WW{{jww}}-{{jcity}}CA-Xlat-PT,NULL,Etc/GMT,t
R70-WW{{jww}}-{{jcity}}CA-Ld-PT,R70-WW{{jww}}-{{jcity}}CA-Ld-PT,NULL,Etc/GMT,t
R70-WW{{jww}}-{{jcity}}CA-PT,R70-WW{{jww}}-{{jcity}}CA-PT,NULL,Etc/GMT,t