NAME,RELATED REGION NAME 1,MAXIMUM AUDIO BIT RATE 1,VIDEO BANDWIDTH 1,AUDIO CODEC PREFERENCE LIST 1,RELATED REGION NAME 2,MAXIMUM AUDIO BIT RATE 2,VIDEO BANDWIDTH 2,AUDIO CODEC PREFERENCE LIST 2
R70-WW{{jww}}-{{jcity}}CA-REG,R70-Test,64,-2,Use System Default (WWE Default low loss),R70-mgmt,64,-1,Use System Default (WWE Default low loss)