TRANSLATION PATTERN,ROUTE PARTITION,DESCRIPTION,NUMBERING PLAN,ROUTE FILTER,MLPP PRECEDENCE,CALLING SEARCH SPACE,ROUTE OPTION,OUTSIDE DIAL TONE,URGENT PRIORITY,CALLING PARTY TRANSFORMATION MASK,CALLING PARTY PREFIX DIGITS (OUTGOING CALLS),CALLING LINE ID PRESENTATION,CALLING NAME PRESENTATION,CONNECTED LINE ID PRESENTATION,CONNECTED NAME PRESENTATION,DISCARD DIGITS,CALLED PARTY TRANSFORM MASK,CALLED PARTY PREFIX DIGITS (OUTGOING CALLS),BLOCK THIS PATTERN OPTION,CALLING PARTY IE NUMBER TYPE,CALLING PARTY NUMBERING PLAN,CALLED PARTY IE NUMBER TYPE,CALLED PARTY NUMBERING PLAN,USE CALLING PARTYS EXTERNAL PHONE NUMBER MASK,RESOURCE PRIORITY NAMESPACE NETWORK DOMAIN,ROUTE CLASS,ROUTE NEXT HOP BY CALLING PARTY NUMBER,EXTERNAL CALL CONTROL PROFILE,USE ORIGINATOR'S CALLING SEARCH SPACE,IS AN EMERGENCY SERVICES NUMBER,DO NOT WAIT FOR INTERDIGIT TIMEOUT ON SUBSEQUENT HOPS
{{jww}}XX,R70-WW{{jww}}-{{jcity}}CA-Xlat-PT,R70-WW{{jww}}-{{jcity}}CA-{{jww}}XX-Xlat,,,Default,R70-WW{{jww}}-{{jcity}}CA-LD-CSS,f,t,t,,,Default,Default,Default,Default,,,7{{jww}},No Error,Cisco CallManager,Cisco CallManager,Cisco CallManager,Cisco CallManager,Off,,Default,f,,f,f,f
75XX,R70-WW{{jww}}-{{jcity}}CA-Xlat-PT,R70-WW{{jww}}-{{jcity}}CA-75xx-Xlat,,,Default,R70-WW{{jww}}-{{jcity}}CA-LD-CSS,f,t,t,,,Default,Default,Default,Default,,,7{{jww}},No Error,Cisco CallManager,Cisco CallManager,Cisco CallManager,Cisco CallManager,Off,,Default,f,,f,f,f
911,R70-WW{{jww}}-{{jcity}}CA-PT,911 Xlat to 7{{jww}}0911 Hunt Pilot for Announcement,,,Default,R70-WW{{jww}}-{{jcity}}CA-LD-CSS,f,t,t,,,Default,Default,Default,Default,,7{{jww}}0911,,No Error,Cisco CallManager,Cisco CallManager,Cisco CallManager,Cisco CallManager,Off,,Default,f,,f,f,f
9911,R70-WW{{jww}}-{{jcity}}CA-PT,9911 Xlat to 7{{jww}}0911 Hunt Pilot for Announcement,,,Default,R70-WW{{jww}}-{{jcity}}CA-LD-CSS,f,t,t,,,Default,Default,Default,Default,,7{{jww}}0911,,No Error,Cisco CallManager,Cisco CallManager,Cisco CallManager,Cisco CallManager,Off,,Default,f,,f,f,f
711,R70-WW{{jww}}-{{jcity}}CA-PT,711 Xlat to 7{{jww}}0711 Hunt Pilot for Announcement,,,Default,R70-WW{{jww}}-{{jcity}}CA-LD-CSS,f,t,t,,,Default,Default,Default,Default,,7{{jww}}0711,,No Error,Cisco CallManager,Cisco CallManager,Cisco CallManager,Cisco CallManager,Off,,Default,f,,f,f,f
9711,R70-WW{{jww}}-{{jcity}}CA-PT,9711 Xlat to 7{{jww}}0711 Hunt Pilot for Announcement,,,Default,R70-WW{{jww}}-{{jcity}}CA-LD-CSS,f,t,t,,,Default,Default,Default,Default,,7{{jww}}0711,,No Error,Cisco CallManager,Cisco CallManager,Cisco CallManager,Cisco CallManager,Off,,Default,f,,f,f,f
*{{jww}}XX,R70-WW{{jww}}-{{jcity}}CA-Xlat-PT,R70-WW{{jww}}-{{jcity}}CA-{{jww}}XX-Xlat,,,Default,R70-WW{{jww}}-{{jcity}}CA-LD-CSS,f,t,t,,,Default,Default,Default,Default,,*7{{jww}}XXXX,,No Error,Cisco CallManager,Cisco CallManager,Cisco CallManager,Cisco CallManager,Off,,Default,f,,f,f,f
